@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,300&display=swap');

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    margin: 0;
}

li {list-style: none;}
ul {padding: 0;}
a {text-decoration: none;}


.header,
.hero,
.footer {
    background-color: #1F2937;
}


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header,
.greeting {
    width: 900px;
}

/* HEADER */

.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}


ul {
    flex: 0 1 auto;
    display: flex;
    gap: 24px;
}


.header .logo {
    flex: 0 0 auto;
    color: #F9FAF8;
    font-size: 24px;
}

.header a {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 100;
}



/* GREETING */

.greeting {
    display: flex;
    padding: 80px 0px;
}

.greeting .text {
    flex: 1 1 0;

}

.greeting .text .main {
    color: #F9FAF8;
    font-size: 48px;
    margin: 0;
}

.greeting .text .subtext {
    margin: 0;
    color: #E5E7EB;
    font-size: 14px;
    font-weight: 300;
    margin-right: 40px;
}

.greeting .img {
    display: flex;
    flex: 1 1 0;
    background-color: #666A74;
    color: #E5E7EB;
    align-items: center;
    justify-content: center;
}


.sign-up {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 8px 24px;
    margin: 8px 8px 8px 0px;
    border: none;
    border-radius: 5px;
}

